{% extends "tmbuddy/base.html" %} {% block content %}
<div class="flex-column p-2 restraint-flex">
  <h3 class="text-center">About</h3>
  <p class="mt-4"><b>TMBuddy.org</b> is a digital space for you to record your progress in Hobart Toastmasters Club. How does it work? </p>
  <ul>
    <li><u>Set a SMART goal</u>: choose one aspect you desire to knock down. </li>
    <li><u>Find your buddy</u>: contact our VPE to join the program, our VPE will assign a buddy to you. </li>
    <li><u>Record progress after each meeting</u>: record your buddy's progress and your self-reflection, everything that is about achieving the goal. </li>
    <li><u>Review and adjust</u>: when feeling unmotivated, go back to your record history, adjust your goal and intention in our club. </li>
  </ul>
  <p class="mt-4">Some common cases when Toastmasters fails you: </p>
  <ul>
    <li>You skip one meeting after another. </li>
    <li>You are so busy in handling your life that you feel unmotivated in Toastmasters. </li>
    <li>You can't see your improvement in public speaking. </li>
    <li>...</li>
  </ul>
  <p class="mt-4">Please note that it is totally common and normal when those situations happen. The intention of <b>TMBuddy.org</b> is to 
  hold you accountable in our club. Especially when you feel resistance in achieving your goal, keep doing it consistently. 
When you look back on your history, you will be amazed at how much you've accomplished throughout your journey in our club. 
May you enjoy your journey step by step! </p>
<p class="mt-4">Lastly, if you encounter any issues or have any suggestions, please feel free and contact us through</p>
<ul>
  <li>Email: vppr-6247@toastmastersclubs.org</li>
  <li><a href="https://www.facebook.com/Hobart.Toastmasters/" class="link-info">Facebook</a></li>
  <li><a href="https://www.instagram.com/hobarttoastmasters/" class="link-info">Instagram</a></li>
</ul>
</div>
{% endblock content %}